{% extends 'root.html' %}
{% block title %}StudyBuddy | Form{% endblock %}
{% block body %}
{% load crispy_forms_tags %}
<div class="container" style="height: 92vh; padding-top: 50px;">
    <h3>Create New Room:</h3>
    <form method="post" action="">
        <p><a href="{% url 'createTopic' %}">Want a new topic? <u>click here</u></a></p>
        {% csrf_token %}
        {{form | crispy}}
        {% if form.class == 'host' %}
        <h2>hi</h2>
        {% endif %}
        <input type="submit" value="Submit" class="btn btn-warning mt-3">
    </form>
</div>

{% endblock %}